@import url('https://fonts.googlepis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
  overflow-y: auto;
  height:100vh;
  width: 100%;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

header .left-side a img{
  margin-top: 20px;
  width: 100px;
}

header .right-side{
  display: flex;
}

.spanC{
  color: #FF0000;
}

.meetCandidate{
  text-align: center;
  font-size: 30px;
}

header .right-side .nav-link-wrapper a{
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  color: black;
}

header .right-side .nav-link-wrapper a:hover{
  color: #FF0000;
  font-size: 18px;
}

.container{
  
  max-width: 100%;
  margin: 100px auto;
}

.container .left-side{
  text-align: center;
}

.container .left-side h1{
  align-items: flex;
  margin-top: 40px;
  font-size: 60px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

.container .left-side h1 .green{
  color: #FF0000;
}

.container .left-side p{
  font-size: 20px;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container .left-side a {
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: #FF0000;
}

/* Button From uiverse.io by @alexmaracinaru */ 
.container .btn {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .container .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #FF0000;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .container .btn span a{
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
 }
 
 .container .btn svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .container .btn:hover:before {
  width: 100%;
  background: #FF0000;
 }
 
 .container .btn:hover svg {
  transform: translateX(0);
 }
 
 .container .btn:active {
  transform: scale(0.95);
 }

/* Button from  From uiverse.io */
.btn2 {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
 }
 
 .btn2::before {
  content: " ";
  width: 1.5625rem;
  height: 1px;
  background: black;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
 }
 
 .btn2 .text {
  font-size: 15px;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: black;
 }
 
 .btn2 .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
 }
 
 .btn2 .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .btn2 .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .btn2:hover {
  color: white;
  background: black;
 }
 
 .btn2:hover::before {
  width: 0.9375rem;
  background: white;
 }
 
 .btn2:hover .text {
  color: white;
  padding-left: 1.5em;
 }
 
 .btn2:hover .top-key {
  left: -2px;
  width: 0px;
 }
 
 .btn2:hover .bottom-key-1,
  .btn2:hover .bottom-key-2 {
  right: 0;
  width: 0;
 }

.container .right-side{
  text-align: center;
  margin-top: 40px;
}

.container .right-side img{
  max-width: 100%;
}

.container .right-side .box{
  position: absolute;
  display: grid;
  right: 0%;
  bottom: 0%;
}

.container .right-side .box img{
  width: 25px;
  margin: 10px;
}

.container .right-side .box img.socials{
  width: 18.5px;
}

.team-m {
  margin-top: -190px;
  padding: 80px;
  display: flex;
  justify-content: center;
}

.thumb{
  display: flex;
  margin-top: -60px;
  justify-content: center;
  
}

.thumb a:hover{
  margin-top: -15px;
  transition: 0.2s;
}

.thumb img{
  width: 54px;
  margin: 20px;

}

#map{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.footer{
  width: 100%;
  height: 45px;
  margin: 15px;
  margin: 0 auto;
  text-align: center; 
  background-color: rgba(0, 0, 0, 0) ;  
  padding-top: 1rem; 
}

@media (min-width: 1140px){
  *{
    margin: 0px;
    padding: 0px;
  }

  body{
    overflow-x: hidden;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
  }

  header .left-side a img{
    width: 80px;
  }

  header .right-side{
    display: flex;
  }

  header .right-side .nav-link-wrapper a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
  }

  .container{
    max-width: 90%;
    margin: 50px auto;
    display: flex;
  }

  .container .left-side{
    text-align: left;
    flex: 1;
  }

  .container .left-side h1{
    font-size: 60px;
    letter-spacing: 2px;
  }

  .container .left-side h1 .green{
    color: #FF0000;
    font-family: 'Montserrat', sans-serif;
  }

  .container .left-side p{
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  .container .right-side{
    flex: 1;
    text-align: center;
  }

  .container .right-side img{
    width: 330px;
    margin-left: 150px;
    margin-top: -30px;
  }

  .container .right-side .box{
    display: grid;
    position: absolute;
    bottom: 40%;
    right: 1%;
  }

  .container .right-side .box img{
    width: 25px;
    margin: 10px;
  }

  .container .right-side .box img.facebook{
    width: 18.5px;
  }

  .thumb{
    align-items: center;
    position: absolute;
    bottom: 0%;
    position: inherit;
  }

  .thumb a:hover{
    margin-top: -15px;
    transition: 0.2s;
  }

  .thumb img{
    width: 54px;
    margin: 20px;
  }
}

@media only screen and (max-width: 650px){
  header{
    display: block;
  }

  header .left-side a img{
    width: 80px;
    margin: auto;
    display: block;
  }

  header .right-side{
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  header .right-side .nav-link-wrapper a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
  }
  .container{
    max-width: 80%;
    margin: 50px auto;
  }

  .container .left-side{
    text-align: center;
  }

  .container .left-side h1{
    font-size: 50px;
    letter-spacing: 2px;
  }

  .container .left-side h1 .green{
    color: #FF0000;
    font-family: 'Montserrat', sans-serif;
  }

  .container .left-side p{
    font-size: 18px;
    letter-spacing: 0.5px;
  }

}

@media only screen and (max-width: 404px){
  header{
    display: block;
  }

  header .left-side a img{
    width: 80px;
    margin: auto;
    display: block;
  }

  header .right-side{
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  header .right-side .nav-link-wrapper a{
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
  }
  .container .right-side img{
    width: 330px;
    margin-top: -30px;
  }
  .container .right-side img{
    max-width: 50%;
  }

  .container .right-side .box{
    display: none;
    position: absolute;
    bottom: 250px;
    right: 25px;
  }

  .container .right-side .box img{
    width: 25px;
    margin: 10px;
  }

  .container .right-side .box img.facebook{
    width: 18.5px;
  }


  .thumb{
    display: flex;
    margin-top: -30px;
    justify-content: center;
    position: inherit;
  }

  .thumb a:hover{
    margin-top: -15px;
    transition: 0.2s;
  }

  .thumb img{
    width: 45px;
    margin: 20px;
  }
}

.votecount {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

#aCount {
  color: #f00;
}
#bCount {
  color: blue;
}

#vote{
  max-width: 640px;
  margin: 0 auto;
  margin-top: 50px;
}
#vote .row{ 
 
}

progress {
  border: none;
  width: 100%;
  height: 40px;
  background: crimson;
  display: flex;
  
  
}

progress {
  color: lightblue;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: red;
}

progress::-webkit-progress-bar {
  background: blue;
}
.first-candidate-image-progress {
  width: 60px;
  border-radius: 20px;
  display: flex;
  transform: rotateY(180deg);

}
.second-candidate-image-progress {
  width: 60px;
  border-radius: 10px;
 
}

.row{
  display: flex;
  align-items: center;
  justify-items: center;
  column-gap: 0;
 
  
}
.castvote {
  border: 5px solid gray;
  width: 500px;
  height: 200px;
  margin: 0 auto;
}
.cast {
    text-align: center;
    padding-top: 15px;
  }

  .select-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .btn-country {
    background-color: #8ea638;
    padding: 5px 20px;
    border-radius: 50px;
    color: aliceblue;
    font-size: 16px;
    margin-left: 5px;
    border: none;
  }
  .select-state {
    font-weight: bold;
  }
  /* .ed-img {
    width: 50px;
    border-radius: 7px;
    padding-right: 5px;
    transform: rotateY(180deg);
  } */

  .el-img {
    width: 50px;
    border-radius: 7px;
    padding-left: 5px;
  }
  .ed-el img:first-child{
    transform: rotateY(180deg);
  }
  /* .ed-el img:last-child{
    transform: rotateY(-180deg);
  } */

  .ed-el {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  .el-img:hover,
  .el-img:focus {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
  }
  .vote-btn{
    background-color: #02732a;
    color: white;
    margin: 0 auto;
    padding: 2px 15px;
    border-radius: 10px;
    border: none;
    display: flex;
    font-size: large;
  }

  .ed-el [type=radio]:checked + img {
    outline: 2px solid #f00;
  }